<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Maya</title>
</head>
<body>
    <h1>maya</h1>
    {% block content %}
    {% endblock %}
    <form method="post" action="{% url 'events:add_event' %}">
        {% csrf_token %}
        <input type="text" name="event_name" id="event_name" placeholder="Enter Event Name">
        <button type="submit">Add Event</button>
    </form>
    
    <ul>
        {% for event in events %}
        <li>{{ event }}
            <ul>
                {% for detail in event.eventdetail_set.all %}
                <li>{{ detail.timestamp|date:"N j, Y g:i a" }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>