{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Maya</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
    <h1>maya</h1>
    {% block content %}
    {% endblock %}
    <form method="post" action="{% url 'events:add_event' %}" class="form-box">
        {% csrf_token %}
        <input type="text" name="event_name" id="event_name" placeholder="Enter Event Name">
        <button type="submit" class="form-button">Add Event</button>
    </form>
    <ul> 
        {% for event in events %}
        <!-- <div class="event-box"> -->
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'events:add_timestamp' event.id %}">
                    {% csrf_token %}
                    <button type="submit" class="event-button">{{ event }}</button>
                </form>
                <div class="row">
                    <div class="col text-end">
                        <a href="{% url 'events:edit_event' event.id %}" class="edit-button">Edit</a>
                    </div>
                    <div class="col">
                        <form method="post" action="{% url 'events:delete_event' event.id %}">
                            {% csrf_token %}
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </div>
                </div>

                <ul>
                    {% for detail in event.eventdetail_set.all %}
                    <li>{{ detail.timestamp|date:"N j, Y g:i a" }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br/>
        {% endfor %}
    </ul>
</body>
</html>