{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Maya</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <main>
        <h1>maya</h1>
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </main>
    <footer>
        <div class="d-flex justify-content-center mt-4 text-muted">
            <p class="">© ByteBloom LLC</p>
        </div>
    </footer>
</body>
</html>