{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
<head>
    <title>Edit Event</title>
    <link rel="stylesheet" type="text/css" href="{% static 'edit_event.css' %}">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>maya</h1>
            <br/>
            <h3><i>Edit Event: {{ event.name }}</i></h3>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {% for detail in event.eventdetail_set.all %}
                        <div class="d-flex align-items-center justify-content-center mb-2"> 
                            <form method="post" action="{% url 'events:update_timestamp' detail.id %}">
                                {% csrf_token %}
                                <input type="text" name="timestamp" value="{{ detail.timestamp|date:'Y-m-d H:i' }}">
                                <button type="submit" class="btn btn-primary">Update Timestamp</button>
                            </form>
                            <br/>
                            <form method="post" action="{% url 'events:delete_timestamp' detail.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        <a href="{% url 'events:index' %}" class="back-button">Back to Homepage</a>
        </div>
    </div>
</body>
</html>
